.footer {
  background-color: #f81c59;
  box-shadow: 0px -3px 5px rgba(85, 2, 82, 0.2);
  padding: 0 100px;
  height: 70px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #FFF5ED;
  letter-spacing: 1px;
}

.redes {
  display: flex;
  gap: 20px;
  padding-top:5px;
}


.redes a:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}